//
//  DevelopmentPaid.xcconfig
//  Reflector
//
//  Created by derrick rocha on 9/14/19.
//  Copyright © 2019 Bhollo. All rights reserved.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

// Settings
APP_NAME = Dark Eye
APP_BUNDLE_ID = com.bhollo.DarkEye
TYPE = paid

AD_MOB_APP_ID = ca-app-pub-3940256099942544~3347511713
AD_MOB_UNIT_ID = ca-app-pub-3940256099942544/6300978111
