//
//  ProductionPaid.xcconfig
//  Reflector
//
//  Created by derrick rocha on 9/14/19.
//  Copyright © 2019 derrick rocha. All rights reserved.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

// Settings
APP_NAME = Dark Eye
APP_BUNDLE_ID = com.bhollo.DarkEye
TYPE = paid

// AdMob
AD_MOB_APP_ID = ca-app-pub-4139767682422943~7651062060
AD_MOB_UNIT_ID = ca-app-pub-4139767682422943/5110612919
